<div class='user-card'>
  <h3 class='profile-pic'><%= user.photo %></h3>
  <div class='user-information'>
    <h2 class='user-name'><%= user.name %></h2>
    <h4 class='user-number-of-posts'>Number of posts: <%= user.postsCounter %></h4>
  </div>
</div>