<%= render 'partials/user_card', user: @user %>
<div class='user-bio'>
  <h3>Bio</h3>
  <h3><%= @user.bio %></h3>
</div>
<ul class='thre-posts-list'>
  <% @posts.each_with_index do |post, index| %>
    <li><%= render 'partials/post_card', post: post, index: index %></li>
  <% end %>
</ul>
<%= link_to user_posts_path(@user) do %>
  <button class='all-posts-button'>See all posts</button>
<% end %>