.user-main {
  list-style-type: none;
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.user-main li {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

a {
  text-decoration: none;
  color: #000;
}

.user-main a {
  text-decoration: none;
  color: black;
}

.user-main img {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.user-main div {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 60%;
  padding: 20px;
  margin: 10px;
}

.user-main div p {
  display: flex;
  flex-direction: row-reverse;
}

.user-main .user-bio {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.user-main .post-all {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px 10px 0 10px;
  padding: 10px;
  border: 1px solid black;
}

.user-main .user-comments,
.show-post .user-comments {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid black;
}

.user-main .post-all .show-li {
  display: flex;
  flex-direction: row-reverse;
}

.user-main .user-comments p {
  display: flex;
  flex-direction: row;
}

.btn {
  display: flex;
  width: 150px;
  padding: 5px 10px;
  margin-top: 20px;
  margin-left: 40%;
}

.btn a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.show-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 5%;
}

.show-post .show-post-user {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  width: 80%;
}

.show-post .show-post-user div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post_container {
  margin: 5% 10%;
}

.post_header {
  display: flex;
  gap: 15px;
}

.post_img {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.posts_info {
  display: flex;
  flex-direction: row;
  flex-grow: 10;
  justify-content: space-between;
  border: solid;
  padding: 15px 30px;
}

.bio_container {
  border: solid;
  margin-top: 30px;
  padding: 0 2%;
}

.post_list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.list_element {
  display: flex;
  flex-direction: column;
  border: solid;
  margin-top: 30px;
  padding: 0 2%;
}

.counter_section {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 5%;
}

.action_section {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
  justify-content: center;
}

.button_style {
  border: solid;
  padding: 5px 5px;
  background: #fff;
  box-shadow: 4px 4px 1px;
}

.btn-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.btn-div button {
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  font-size: 18px;
}

.btn-div .back-btn {
  width: 150px;
  margin-top: 0;
  border: 1px solid black;
}

.btn-div a {
  text-decoration: none;
  color: black;
}

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 10px;
  font-size: 22px;
  font-weight: 400;
}

.input-form input,
.input-form textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid black;
}

.input-form .submit {
  width: 150px;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  font-size: 18px;
}
